*{
  caret-color: var(--primary-color);
}

.wrap-add-user{
  min-width: 400px;
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
  position: relative;


  .title-form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .divider-title{
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(119, 119, 119, 0.685);
  }
  input{
    width: 100%;
    font-size: 17px;

  }
  .btn-save{
    position: absolute;
    bottom: 0;
    align-self: flex-end;
  }

}

.wrap-edit-user{
  width: 448px;
  display: flex;
  flex-direction: column;
  position: relative;

  .title{
    font-size: 25px;
    height: fit-content;
    margin: 0;
    margin: 20px 0;
  }
}

::ng-deep{
  .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--primary-color) ;
  }
  .mat-dialog-container{
    background-color: var(--aside-color);
  }
  .mat-stepper-horizontal, .mat-stepper-vertical{
    background: none;
  }
}
