*{
  font-style: normal;
  transition: all 0.6s cubic-bezier(0, 1.02, 0, 1.01) !important;

}

main{
  width: 100%;
  display: flex;
  flex-direction: column;

  .title-component{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color) ;


    .title-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;

      cne-win-slide{
        align-self: center;
      }
      p.title{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
      }

    }
    .saveDataBtn{
      padding: 0 10px;
      height: 38px;
      background-color: var(--primary-color);
      border: none;
      outline: none;
      font-size: 15px;
      font-weight: 100;
      color: white;
      display: flex;
      align-items: center;

      p{
        margin: 0;
        display: flex;
      }

      &:active{
        transform: scale(0.91);
      }

    }
    .iconSaveDataMode{
      display: none;
    }
  }


  .alert-preview{
    padding: 2px;
    border: 1px var(--text-color) solid;

    .alert{
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: left;
      vertical-align: middle;

      .text{
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        align-self: center;
      }

      strong{

        align-self: center;
      }
    }
  }
  .alert-controls{
    display: flex;

    .control-bar-btn{
      width: 48px;
      height: 48px;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      color: var(--text-color) ;


      .color-select{
        width: 40%;
        height: 40%;
        margin: auto;
        border-radius: 50px;
        border: 2px solid #0000001c;
      }
      &:hover{
        background-color: var(--tertiary-gs);
      }

    }

    .btn-adaptable{
      width: fit-content;
      padding: 0 20px;
    }



  }


}
.warn{background-color: var(--warn-color);}
.danger{background-color: var(--danger-color);}
.info{background-color: var(--info-color);}
.success{background-color: var(--success-color);}
.defaultColor{background-color: var(--alert-default-color);}

@media screen and(max-width:1300px){
  main{
    width: 100%;

    .title-component{

      .title-container{

        .saveDataBtn{
          display: none;
          background-color: blue;
        }
        .iconSaveDataMode{
          padding: 0 10px;
          height: 38px;
          background-color: var(--primary-color);
          border: none;
          outline: none;
          font-size: 15px;
          font-weight: 100;
          color: white;
          display: flex;
          align-items: center;

          &:active{
            transform: scale(0.91);
          }

        }
      }

    }
  }
}
@media screen and(max-width:800px){
  main{

    .title-component{

      .iconSaveDataMode{
        margin-left: 30px;
        padding: 0 10px;
        height: 38px;
        background-color: var(--primary-color);
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 100;
        color: white;
        display: flex;
        align-items: center;

        &:active{
          transform: scale(0.91);
        }

      }
      .saveDataBtn{
        display: none;
      }
    }


  }
}
