.wrap-editor{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.saveDataBtn{
  width: 58px;
  height: 58px;
  position: fixed;
  bottom: 48px;
  right: 48px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 100;
}



::ng-deep{

  .mat-tab-nav-bar, .mat-tab-header{
    border-bottom: solid 1px var(--tertiary-gs);
  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: white !important;
  }
  .mat-tab-header{
    background-color: var(--primary-color);

  }
  .mat-tab-label-content{
    color: white;

  }
}
