<div class="title-component">
  <div class="title-container">
    <p class="title">Configuracion de las tarjetas</p>
  </div>
  <button (click)="saveData()" class="cne-metro-button saveDataBtn"> <p>Guardar cambios</p></button>
</div>

<div class="wrap-card">
  <div class="card">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Direccion URL de la tarjeta</mat-label>
      <input matInput placeholder="http://" [value]="cardData.configs[0].url" [(ngModel)]="cardData.configs[0].url">
    </mat-form-field>
    <img width="100%" [src]="cardData.configs[0].img" alt="">
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Titulo de la tarjeta</mat-label>
      <input matInput [(ngModel)]="cardData.configs[0].title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea maxlength="150" matInput [(ngModel)]="cardData.configs[0].description"></textarea>
    </mat-form-field>
  </div>
  <div class="card">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Direccion URL de la tarjeta</mat-label>
      <input matInput placeholder="http://" [value]="cardData.configs[1].url" [(ngModel)]="cardData.configs[1].url">
    </mat-form-field>
    <img width="100%" [src]="cardData.configs[1].img" alt="">
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Titulo de la tarjeta</mat-label>
      <input matInput [(ngModel)]="cardData.configs[1].title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea maxlength="150" matInput [(ngModel)]="cardData.configs[1].description"></textarea>
    </mat-form-field>
  </div>
  <div class="card">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Direccion URL de la tarjeta</mat-label>
      <input matInput placeholder="http://" [value]="cardData.configs[2].url" [(ngModel)]="cardData.configs[2].url">
    </mat-form-field>
    <img width="100%" [src]="cardData.configs[2].img" alt="">
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Titulo de la tarjeta</mat-label>
      <input matInput [(ngModel)]="cardData.configs[2].title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea maxlength="150" matInput [(ngModel)]="cardData.configs[2].description"></textarea>
    </mat-form-field>
  </div>
  <div class="card">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Direccion URL de la tarjeta</mat-label>
      <input matInput placeholder="http://" [value]="cardData.configs[3].url" [(ngModel)]="cardData.configs[3].url">
    </mat-form-field>
    <img width="100%" [src]="cardData.configs[3].img" alt="">
    <br>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Titulo de la tarjeta</mat-label>
      <input matInput [(ngModel)]="cardData.configs[3].title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea maxlength="150" matInput [(ngModel)]="cardData.configs[3].description"></textarea>
    </mat-form-field>
  </div>
</div>
