<div class="wrap-editor">
  <br>
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuracion del Banner
        </mat-panel-title>
      </mat-expansion-panel-header>
      <cne-banner-editor></cne-banner-editor>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuracion de la Alerta
        </mat-panel-title>
      </mat-expansion-panel-header>
      <cne-alert-editor></cne-alert-editor>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuracion de las Tarjetas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <card-group></card-group>
    </mat-expansion-panel>
    <br><br>
    <br><br>
    <br><br>
  </mat-accordion>

</div>
