<main>

  <div class="title-component">
    <div class="title-container">
      <p class="title">Configuracion del Banner</p>
    </div>
    <button (click)="saveChanges()" class="cne-metro-button win-btn">Guardar cambios</button>
  </div>

  <!-- Banner Preview -->
  <div class="wrap-peview">
    <div class="img" style="background: url({{bannerData.configs.bannerImg}});">
      <div class="bannerContent">
        <span
          class="titleBanner"
          [style]="'color: '+bannerData.configs.colorText+';font-size:'+bannerData.configs.titleSize+'px;'"
        >{{bannerData.configs.title}}</span>
        <span [style]="'color: '+bannerData.configs.colorText+';'">{{bannerData.configs.description}}</span>
        <button matRipple [matRippleColor]="'#80808080'" [style]="'background-color:'+bannerData.configs.btnColor+';'" *ngIf="bannerData.configs.btnStatus">
          <a href="{{bannerData.configs.urlBtn}}">
            <p [style]="'color:'+bannerData.configs.colorTextBtn+';'" class="btnText">Mas Informacion</p>
          </a>
        </button>
      </div>
    </div>
  </div>

  <!-- Editor de Texto -->
  <div class="banner-controls-editor">

      <mat-form-field>
        <input matInput [ngModel]="bannerData.configs.colorText" [formControl]="colorControl"  [ngxMatColorPicker]="picker" [disabled]="disabled">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
      </mat-form-field>

      <mat-form-field class="title-banner-input" appearance="legacy">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="bannerData.configs.title" matInput>
      </mat-form-field>

      <mat-form-field class="title-banner-input" appearance="legacy">
        <mat-label>Descripcion</mat-label>
        <input [(ngModel)]="bannerData.configs.description" matInput>
      </mat-form-field>

  </div>

  <!-- Editor de Imagen -->

  <!-- Editor del boton -->
  <div class="banner-controls-editor">

    <!-- Toggle del boton del banner -->
    <button class="btn-control-banner-adaptable">Habilitar boton

      <cne-win-slide [externalStatus]="bannerData.configs.btnStatus" (statusChange)="setStatusBtn($event)"></cne-win-slide>

    </button>

    <!-- input color del boton -->
    <button class="btn-control-banner-adaptable">Color de boton
      <input type="color" [(ngModel)]="bannerData.configs.btnColor" id="colorBtn">
    </button>

    <!-- Input color del texto del boton -->
    <button class="btn-control-banner-adaptable">Color de texto
      <input type="color" [(ngModel)]="bannerData.configs.colorTextBtn" id="colorTextBtn">
    </button>

    <!-- Input url del boton -->
    <mat-form-field class="title-banner-input" appearance="legacy">
      <mat-label>Ruta del boton</mat-label>
      <input type="url" placeholder="http://" matInput>
    </mat-form-field>

  </div>


  <div class="banner-controls-editor">

    <mat-form-field class="title-banner-input" appearance="legacy">
      <mat-label>Descripcion</mat-label>
      <input matInput>
    </mat-form-field>

  </div>

</main>
