*{
  stroke: #000000;

}

.wrap-placeHolder{
  width: 474px;
  height: 209px;
  // border: 1px solid #0000002d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  flex-direction: column;

}
