<body class="appBody">

  <div class="title-bar">
    <p class="title">ES65 Admin</p>
    <div class="window-controls-containter">
      <button class="windows-icon-bg" (click)="titleBarWindow('minimize')">
        <i class="mdl2-chrome-minimize win-icon"></i>
      </button>
      <button class="windows-icon-bg" (click)="titleBarWindow('size')">
        <i class="mdl2-chrome-maximize win-icon"></i>
      </button>
      <button class="windows-icon-bg close" (click)="titleBarWindow('close')">
        <i class="mdl2-chrome-close win-icon"></i>
      </button>
    </div>
  </div>

  <div id="aside" class="aside-Extended" [style]="aside"></div>

  <div class="main">
    <aside [class.aside-Active]="asideStatus">
      <button (click)="openAside()" class="menu"></button>
      <div class="wrap-Aside" [class.aside-Active]="asideStatus">

        <button *ngFor="let asideBtn of sidebarBtns; let index = index" class="btn-Seccion" (click)="asideBtnConfig(index, asideBtn.src)" [class.bottom]="asideBtn.bottomStatus">

          <div class="btn-content">
            <div class="icon"><div class="{{asideBtn.icon}}"></div></div>
            <p>{{asideBtn.text}}</p>
          </div>

        </button>

      </div>

      <div [class]="'pipe'" [style]="'transform: translate(0px,'+selectedSection+'px)'"></div>

    </aside>

    <div class="rOutletContent">
      <router-outlet></router-outlet>
    </div>

  </div>

</body>
